/* Estilo base para dispositivos móveis */

h1{
    justify-items: center;
    display: flex;
}
.textosAvaliacoes {
    
    text-align: center;
    font-size: 1.1rem; 
    font-family: 'PoppinsThin', sans-serif;
    font-weight: bold;
   
    padding-inline: 1rem;
    margin: 0;
}

.tituloAvaliacoes, .textoAvaliacoes {
    margin: 0;
}

@media (min-width: 768px) {

    .textosAvaliacoes {
        font-size: 1.1rem; 
    }

    .tituloAvaliacoes {
        font-size: 1.1rem; 
    }
}

@media (min-width: 1024px) {

    .avaliacoesMainDiv{
        justify-content: center;
    }

    .textosAvaliacoes {
        font-size: 1.7rem; 
    }

    h1{
        padding-left: 0;
    }

    .tituloAvaliacoes {
        font-size: 1.7rem;
        
    }
}
