/* Estilo base para dispositivos móveis */
.avaliacoesMainDiv{
    justify-content: center;
    padding-inline: 1rem;
}

h1{
    justify-items: center;
    display: flex;
}
.textosAvaliacoes {
    
    text-align: center;
    font-size: 1.1rem; 
    font-family: 'PoppinsThin', sans-serif;
    font-weight: bold;
   
    padding-inline: 1rem;
    margin: 0;
}

.tituloAvaliacoes, .textoAvaliacoes {
    margin: 0;
    text-align:center;
    
}

@media (min-width: 768px) {

    .textosAvaliacoes {
        font-size: 1.1rem; 
    }

    .tituloAvaliacoes {
        font-size: 1.1rem; 
    }
}

@media (min-width: 1200px) {

    .avaliacoesMainDiv{
        justify-content: center;
    }



    h1{
        padding-left: 0;
    }

    .tituloAvaliacoes, .textosAvaliacoes {
        font-size: 1.2rem; 
    
    }



    .textoAvaliacoes{
        padding-inline: 12rem;
    }



}
