.comoFuncionaMainDiv {
  padding-inline: 4rem;
  font-weight: bold;
}

.conteudoComoFunciona {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif; 
  gap: 2rem;
  
}

.imagem-passo{
  display: flex;
}

.imagem-numero{
  height: auto;
  width: 100px;
  image-rendering: pixelated; 
  object-fit: contain;
  
  
}

.textoColetaEntregaDiv{
  font-family: PoppinsThin;

  
}

.fontDiagnosticos{
  font-family: PoppinsThin;
}

.coletaEntregaDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.5);
}

.caminhao {
  max-width: 100px;
  width: 100%;
}

.coletaEntrega {
  margin: 0;
  color: #fc6404;
  font-weight: 600;
}

.ganheFreteGratis {
  margin: 0;
  color: #666;
}

.passosContainer {
  display: flex;
  padding-bottom: 12rem;
  

}

.passo {

  flex: 1;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.fotoImagem{
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.5);
  padding: 3rem;
  /* transform: translateY(8rem); */ 

}



.textosObservacaoExtra{
  font-family: PoppinsThin;
  color: #666;

}

.textosObservacao{
  font-family:Arial, Helvetica, sans-serif;
  color: #666;
}

.numero {
  font-size: 15vh;
  font-weight: bold;
  color: #e4e4e4;

}

.textoPasso{
  color: #fc6404;
  font-size: 2rem;
  margin:0;
  
}

.servicosExpressComoFunciona{
  display: flex;
  
  flex-direction:  column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.5);
  padding: 1rem;

}

.centralExpress{
  display: flex;
  flex-direction: column;

}

h1{
  justify-items: center;
    display: flex;
    width: 100%;
    align-items: center;
    padding-inline: 0;
    padding-bottom: 10px;

}
.iconeExpress{
  width: 120px;
  height: auto;
  object-fit: contain;
  padding-bottom: 2rem;

}

.textoExpress, .descricaoTextoExpress, .diasUteisExpress, .excecaoExpress,
.atencaoExpress, .tipoAceito{
  font-size: 1.1rem;
  max-width: 100%; 
  text-align: justify; 
  line-height: 1.4;
  margin: 2px;
  font-family: PoppinsThin;
  
}

.diasUteisExpress, .textoExpress{
  color: #fc6404;

}

.diasUteisExpress{
  padding-top: 1rem;

}

.atencaoExpress{
  padding-top: 1rem;

}

.tipoAceito{
  text-align: center;
  padding-top: 2rem;  
  padding-bottom: 2rem;

}

/* tabret */
@media (min-width: 768px) {

  .passosContainer{
    flex-direction: column;
  }


  .numero {
    font-size: 15vw;

  }

  .fotoImagem{

    padding: 5rem;
  }


}


/* pc */
@media (min-width: 1200px) {

  .passosContainer{
    flex-direction: row;
    /* flex-wrap: wrap;
    gap: 4rem;
   */


  }

  .passo {
    /* flex: 1 1 calc(50% - 2rem); Mantém 2 por linha */
    /* padding-top: 3rem; */
    flex-direction: row;

  }

  .fotoImagem{

    padding: 1rem;
    transform: translateY(8rem);
  
  }

  .numero {
    font-size: 10vw;
    font-weight: bold;
    color: #e4e4e4;
  
  }

  .servicosExpressComoFunciona{
    flex-direction:  row;
    align-items: flex-start;
    
  
  }
  
  .iconeExpress{
    width: 80px;
  
  }
}


@media (max-width: 375px) {
  .fotoImagem{

    padding: 0;
  
  }
}