.comoFuncionaMainDiv {
  padding-inline: 4rem;
}

.conteudoComoFunciona {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif; 

}

.textoColetaEntregaDiv{
  font-family: PoppinsThin;
}

.fontDiagnosticos{
  font-family: PoppinsThin;
}

.coletaEntregaDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.caminhao {
  max-width: 100px;
  width: 100%;
}

.coletaEntrega {
  margin: 0;
  color: #fc6404;
  font-weight: 600;
}

.ganheFreteGratis {
  margin: 0;
  color: #666;
}

.passosContainer {
  display: flex;

  justify-content: space-between; 
  gap: 1rem; 
}

.passo {
  flex: 1;
  text-align: center;
  border-radius: 8px;

}

.numero {
  font-size: 10vw;
  font-weight: bold;
  color: #e4e4e4;

}

.textoPasso{
  color: #fc6404;
}

.servicosExpressComoFunciona{
  display: flex;
  flex-direction:  row;
  align-items: flex-start;
  padding-top: 2rem;
}

.centralExpress{
  display: flex;
  flex-direction: column;
}

.iconeExpress{
  width: 80px;
  height: auto;
  object-fit: contain;

}
.textoExpress, .descricaoTextoExpress, .diasUteisExpress, .excecaoExpress,
.atencaoExpress, .tipoAceito{
  font-size: 1.1rem;
  max-width: 100%; 
  text-align: justify; 
  line-height: 1.4;
  margin: 2px;
  font-family: PoppinsThin;
  
}

.diasUteisExpress, .textoExpress{
  color: #fc6404;
}
.diasUteisExpress{
  padding-top: 1rem;
}

.atencaoExpress{
  padding-top: 1rem;
}

.tipoAceito{
  text-align: center;
  padding-top: 2rem;  
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
.passosContainer {
  flex-direction: column;
  align-items: center;
}
}
