.conteudoConsultoria{
    flex-direction: column;
    padding-inline: 2rem;
}

h1{
    color: #fc6404;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;

}

.tituloConsultoria{
    color: #fc6404;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    padding-inline: 2rem;
}

.subtituloConsultoria{
    text-align: center;
    font-size: 1.1rem;
    padding-inline: 2rem;
    font-family: PoppinsThin;
    font-weight: bold;
}

.descricaoConsultoria{
    font-family: 'Poppins';
    font-size: 0.9rem;
}


.setupGamerConsultoria{
    display: flex;
    max-width: 500px;
    width: 100%;
    align-self: center;
}

/* tabret */
@media (min-width: 768px) {


}


/* pc */
@media (min-width: 1200px) {

    .consultoriaMainDiv{
        padding-bottom: 4rem;
    }
    .conteudoConsultoria{
        flex-direction: row-reverse;
        display: flex;
        padding-inline: 4rem;
    }
    .setupGamerConsultoria{
        display: flex;
        height: auto;
        max-width: 600px;
        width: 100%;

    }

    .tituloConsultoria{

        font-size: 2rem;

    }


    .subtituloConsultoria{
        font-size: 1.1rem;
        padding-inline: 12rem;
        text-align: center;
        font-size: 1rem;
        margin: 0;
    }
    
    .descricaoConsultoria{
        font-size: 1rem;
    }

   
}