/* selo fone */
.header {
    background: white;
    width: 100vw;
    min-height: 10vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.nav-button{
    font-family: 'Novecento';
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
}


.logo {
    width: auto;
    height: auto;
    max-width: 200px; /* Ajuste conforme necessário */
    object-fit: contain;
    
    justify-content: center;
}
.nav-buttons ul {
    list-style-type: none;
    padding-right: 2rem;
}

.nav-buttons {
    display: none;
}

.whatsapp-button {
    background-color: #25d366;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    color: white;
    padding: 0.8rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.whatsapp-icon {
    width: 18px; 
    height: 18px;
}

.whatsapp-container {
    padding-right: 2rem;
    margin-left: auto;
    display: none;
    align-items: center;
}


@media (hover: hover) {
    .nav-button:hover {
        /* background-color: #fc6404; */
        color: #fc6404;
        text-decoration: underline;
        text-decoration-color: #fc6404 ;

    }

    .whatsapp-button:hover {
        background-color: #128C7E;
    }
}

/*tabret*/
@media (min-width: 768px) {

    .header{
        display: fixed;
        border-bottom: 8px solid #fc6404;
        padding: 1rem;

    }
    .logo {
        max-width: 80px;
    }
}

/*pc*/
@media (min-width: 1200px) {
    .header{
        position: fixed;
        border-bottom: 8px solid #fc6404;
        

    }

    .logo {
        width: auto;
        height: auto;
        max-width: 150px; /* Ajuste conforme necessário */
        object-fit: contain;
        padding-left: 4rem;
        padding-top: 0.4rem;
    }
    
    .nav-buttons {
        display: flex;
        flex-grow: 1;
        justify-content: end;
        padding-right: 4rem;
    }

    .nav-buttons ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        gap: 2rem;
    }

    .nav-button {
        border: none;
        font-weight: bold;
        cursor: pointer;
        padding: 0.3rem 0.8rem;
        border-radius: 8px;
        transition: background-color 0.3s;
        font-size: 1.1rem;
    }

    .whatsapp-button {
        font-size: 1rem;
    }
    
    .whatsapp-icon {
        width: 22px; 
        height: 22px;
    }
    
    .whatsapp-container {
        padding-right: 4rem;
        display: flex;
    }


}
