.localizacaoMainDiv{
    padding-top: 2rem;

}

.textoLocalizacao{
    text-align: center;
    font-family: PoppinsThin;
    font-size: 1.7rem;
}

.mapaLoc{
    align-items: center;
    justify-content: center;
    display: flex;
}
