@font-face {
    font-family: Poppins;
    src: url('src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: PoppinsThin;
    src: url('src/assets/fonts/Poppins-Thin.ttf') format('truetype');
}

h1{
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.quemSomos{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding-top: 2rem;
    padding-inline: 2rem;
    box-sizing: border-box;
    
    
}

.conteudoQuemSomos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;


}

.descricaoQuemSomos{
    text-align: center;
    display: flex;
    font-size: 1.3rem; 
    font-weight: bold;
    font-family: PoppinsThin;
}


.imgMauroVitor{
    max-width: 500px;
    width: 50%;
    height: auto;
    display: flex;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    
    order: 0;
    align-self: center;
    border-radius: 0.2rem;
}

.textoQuemSomos{
    font-family: Poppins;
    order: 0;
    padding: 12px;
    
}

@media (min-width: 768px) {
    
    .imgMauroVitor{
        max-width: 500px;
        width: 50%;
        height: auto;
        display: flex;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        justify-content: center;
        order: 1;
        align-self: center;
        border-radius: 0.2rem;
    }


}


@media (min-width: 1200px) {
    .quemSomos{
        padding-inline: 8rem;
    }
    .conteudoQuemSomos{
        flex-direction: row;
    }

    .textoQuemSomos{
        padding-left: 4rem;
        font-size: 1.2rem;
        text-align: justify;
        order: 1;
        
        
    }
    .imgMauroVitor{
        width: 60%;
        height: auto;
        display: flex;
       
    
    }
    .descricaoQuemSomos{
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: 600;
        font-size: 1.4rem;
        margin: 0;
        padding-bottom: 0.8rem;
        
    }

    .conteudoQuemSomos{
        display: flex;
    
    }

}
