@font-face {
    font-family: Poppins;
    src: url('src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: PoppinsThin;
    src: url('src/assets/fonts/Poppins-Thin.ttf') format('truetype');
}

h1{
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.quemSomos{
    justify-content: flex-start;
    padding-top: 2rem;
    padding-inline: 2rem;
    padding-bottom: 8rem;
    
}

.conteudoQuemSomos{
    flex-direction: column;
    display: flex;

}

.descricaoQuemSomos{
    text-align: center;
    display: flex;
    font-size: 1.3rem; 
    font-weight: bold;
    font-family: PoppinsThin;
}


.imgMauroVitor{
    max-width: 500px;
    width: 50%;
    height: auto;
    display: flex;
    box-shadow: 1rcap;
    order: 1;
    align-self: center;
    border-radius: 0.2rem;
}

.textoQuemSomos{
    font-family: Poppins;
    order: 0;
    

}

@media (min-width: 768px) {


}


@media (min-width: 1200px) {
    .quemSomos{
        padding-inline: 8rem;
    }
    .conteudoQuemSomos{
        flex-direction: row;
    }

    .textoQuemSomos{
        padding-left: 4rem;
        font-size: 1.2rem;
        text-align: justify;
        order: 1;
        
        
    }
    .imgMauroVitor{
        width: 60%;
        height: auto;
        display: flex;
       
    
    }
    .descricaoQuemSomos{
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: 5rem;
        font-size: 1.7rem;

        
    }



}
