@font-face {
  font-family: Poppins;
  src: url('src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face{
  font-family: Novecento;
  src: url('src/assets/fonts/Novecento-WideBold.ttf') format('truetype');
}

body, html {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  display: flex;
  font-family: 'Novecento';
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita rolagem horizontal */
  
}



.container {
  display: flex;
  flex-direction: column;
  
}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {

  .container {
    padding-top: 10vh;  
  }

}
