@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face{
  font-family: Novecento;
  src: url('/fonts/Novecento-WideBold.ttf') format('truetype');
}

@font-face {
  font-family: PoppinsThin;
  src: url('/fonts/Poppins-Thin.ttf') format('truetype');
}
  


body, html {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  display: flex;
  font-family: 'Novecento';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Evita rolagem horizontal */
  scroll-behavior: smooth;
}
#main-section,
#servicos-section,
#consultoria-section,
#como-funciona-section,
#avaliacoes-section,
#localizacao-section,
#quemsomos-section {
  scroll-margin-top: 16vh;  /* Ajuste conforme o tamanho do seu cabeçalho */
}


.container {
  display: flex;
  flex-direction: column;
  gap:3rem;
  box-sizing: border-box;
  max-width: 100%; /* Garante que o flex container não fique maior que a tela */

}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {

  .container {
    padding-top: 10vh;  
  }

}
